html {
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    background-color: beige;
}

nav{
    width: 100vw;
    background-color: darkolivegreen;
    margin-top: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    padding: 1px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

nav ul li {
    list-style-type: none;
    margin-right: 1em;
}

nav ul li:hover {
    color: rgb(0,0,0,0.705);
}
nav ul li:active {
background-color: chocolate;
}

#wrapper {
    margin: auto;
    max-width: 35vw;
    text-align: center;
    border: 4px solid darkolivegreen;
    border-radius: 10px;
    box-shadow: 10px 10px lightslategray;

}

.loginForm {
    display: flex;
    text-align: start;
    justify-content: center;
    background-color: beige;
    padding: 1em;
    
}

/* Css for About Page */
#content {
    text-align: center;
}

#ctable{
    display: flex;
    text-align: start;
    justify-content: center;
    background-color: beige;
    padding: 1em;
    
    
}

#ctable table{
    border: 1px solid black;
}
#ctable td{
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}
#ctable th{
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}