#root {
  
  max-width: 1280px;
  margin: auto;
  padding: 2em;
  text-align: center;
}

body{
  background-color: #242443;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


nav{

  background-color: #61dbfb;
  margin: auto;
  padding: 4em;
  color: #1c2c4c;
  font-size: 24px;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #4c768d;
}

.card{
  width: 18rem;
  height: 45em;
  padding: 2em;
  margin: 2em;
  background-color: #61dbfb;
  box-shadow: 0 0 2px 2px #4c768d;
}

.hover{
  margin: 3px;
  position:absolute;
  color: #61dbfb;
  box-sizing: border-box;
  max-height:200px;
  left:0%;
  z-index:999;
  background:#242443;
  padding:10px;
  border:1px solid #4c768d;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #242443;
}

.btn{
  box-shadow: 0 0 2px 2px #242443;
}